.res-cleaning-container,
.comm-cleaning-container,
.con-cleaning-container {
    display: flex;
    flex-direction: column;
}

.res-cleaning-container {
    margin-top: 100px;
}

.res-banner, 
.comm-banner, 
.con-banner {
    width: 100%; height: 400px;
    background-image: url("../img/residential-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}

.blue-box {
    width: 48%; height: 175px;
    min-width: 720px;
    margin: 300px 0 0 -50px;
    background-color: rgba(0, 160, 221, 0.9);
    
    position: relative;
    z-index: -1;
    transform-origin: left bottom;
    transform: skewX(-15deg);
}

h1 {
    color: #fff;
}

.banner-text, .res-info {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

.banner-text {
    margin-top: -187px;
    z-index: 5;
}

