.res-cleaning-container,
.comm-cleaning-container,
.con-cleaning-container {
    display: flex;
    flex-direction: column;
}

.comm-cleaning-container, .con-cleaning-container {
    margin-top: 100px;
}

.res-cleaning-container {
    margin-top: 100px;
}

.res-banner, 
.comm-banner, 
.con-banner {
    width: 100%; height: 400px;
    background-image: url("../img/residential-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}

.blue-box {
    width: 48%; height: 175px;
    min-width: 720px;
    margin: 300px 0 0 -50px;
    background-color: rgba(0, 160, 221, 0.9);
    
    position: relative;
    z-index: -1;
    transform-origin: left bottom;
    transform: skewX(-15deg);
}

h1 {
    color: #fff;
}

.banner-text, 
.res-info-top, 
.res-info-btm .wrapper,
.comm-info,
.con-info {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

.banner-text {
    margin-top: -187px;
    z-index: 5;
}

.res-info-top {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
}

.trained-prof-text,
.the-best,
.clockwork {
    width: 48%;
}

.res-info h2 {
    margin: 0;
    font-size: 4em;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: .01em;
    color: #25215f;
}

.res-info p,
.con-info p {
    font-size: 3em;
    line-height: 1.5em;
    margin-top: 1em;
}

.trained-prof-img {
    flex: 1;
    text-align: right;
}

.trained-prof-img img {
    width: 80%;
}

.res-info-btm {
    margin-top: 15em;
}

.res-info-btm .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comm-info {
    display: flex;
    flex-direction: column;
}

.comm-info-text {
    width: 80%;
    margin: 140px auto 0;
}

.comm-info-text h6 {
    font-size: 5em;
    line-height: 1.5em;
    text-align: center;
    color: #25215f;
}

.comm-info-text-btm {
    display: flex;
    margin-top: 50px;
}

.comm-info-img {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: flex-end;
}

.comm-info-img img {
    max-width: 300px;
    margin: 0 auto;
}

.comm-info-services {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    vertical-align: middle;
}

.service {
    width: 23%; min-width: 140px;
    margin: 0 10px 0 0;
}

.service-wrapper {
    width: 140px; height: 175px;
    margin: 20px auto 0;
    padding: 20px;
    background-color: #a6a6a6;
    text-align: center;
}

.service-icon {
    width: 75px; height: 75px;
    margin: 0 auto 20px;
}

.service-wrapper small {
    font-size: 2.5em;
    line-height: 1em;
    color: #fff;
    font-weight: 400;
}



.con-banner .blue-box {
    width: 53%; min-width: 870px;
}

.con-info {
    display: flex;
    margin-top: 100px;
    margin-bottom: 80px;
}

.con-info-text,
.con-info-img {
    flex: 1;
}

.con-info-img {
    display: flex;
    align-items: flex-end;
}

.con-info-img img {
    width: 90%;
    margin: 0 auto;
    vertical-align: bottom;
}




@media screen and (max-width: 1050px) {
    .content {
        margin-top: 0;
    }

    .res-cleaning-container {
        margin-top: 0;
    }

    .res-info {
        width: 90%;
        margin: 90px auto 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }

    .res-info-top, .res-info-btm {
        margin-top: 40px;
        flex: 1;
        
    }

    .trained-prof-text,
    .the-best,
    .clockwork {
        width: 95%;
    }

    .clockwork {
        margin-top: 40px;
    }

    .trained-prof-img {
        display: none;
    } 

    .res-info-btm .wrapper {
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
    }

    .comm-info-text {
        margin-top: 120px;
    }
}

@media screen and (max-width: 870px) {
    .res-info {
        flex-direction: column;
    }

    .banner-text h1 {
        font-size: 10em;
        letter-spacing: .01em;
        text-align: center;
    }

    .blue-box,
    .con-banner .blue-box  {
        width: 100%; height: 150px;
        min-width: 0;
        margin: 323px 0 0 0;
        background-color: rgba(0, 160, 221, 0.9);
        
        position: relative;
        z-index: -1;
        transform-origin: left bottom;
        transform: skewX(0deg);
    }

    .banner-text {
        margin-top: -155px;
    }

    .comm-info-img,
    .con-info-img {
        display: none;
    }

}

@media screen and (max-width: 660px) {
    .banner-text h1 {
        font-size: 7em;
        letter-spacing: .01em;
        text-align: center;
    }

    .blue-box,
    .con-banner .blue-box {
        height: 100px;
    }

    .banner-text {
        margin-top: -113px;
    }
}